<!--<!DOCTYPE html>
<html>
<head>
	<title>flowtoweb</title>
</head>
<body>
<h1>Flowto Web</h1>	
</div>
<ul>
	<li><a href='/ridgmail'>RID_GMAIL</a></li>
	<li><a href='/flowtoApp'>flowto App</li>
	<li><a href='/report'>Report</li>
</ul>
</body>
</html>-->


<!DOCTYPE html>
<html>
<header>
	<script src="js/angular.min.js"></script><!--ver 1.3.16-->
	<script src="js/angular-route.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="js/svg-assets-cache.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</header>
<body>
<h1>Web Tools</h1>

<div class="container" align="left">
	<h3>RID-GMAIL</h3>
	<div class="panel panel-default">	
		<div class="panel-body">
			<ul>
				<li><a href="#">RID-GMAIL คือ</a></li>
				
				<li><a href="ridgmail">link RID-GMAIL</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container" >
	<h3>Flowto Application</h3>
	<div class="panel panel-default">	
		<div class="panel-body">
			<ul>
				<li><a href="pdf/manaul_Flowto_beta_0.12.pdf">คู่มือการใช้งาน Flowto Application</a></li>
				<li><a href="https://play.google.com/store/apps/details?id=go.th.rid.flowto">ดาวน์โหลดและติดตั้ง Flowto Appliction</a></li>
			</ul>
		</div>
	</div>
</div>
	
</body>
</html>
