{%extends "layout/layout.html"%}
{%block content%}
 
<div class="container">
<h3>แบบฟอร์มการรายงานความก้าวหน้าโครงการ</h3>
<hr>
<!--//////////////////////////////////////// -->
<div class="row fluid">
  <div class="col-md-12">
    <!--<div  align="right">
      <button type="button" class="btn btn-info" id="add_button" data-toggle="modal" data-target="#addProject">สร้าง</button>
    </div>-->
  </br>
  <table class="table table-striped">
    <tr> 
 
        <th>โครงการ</th>
        <th>รายงานทั้งหมด</th>
        <th>รายงานเฉพาะโครงการ</th>
    </tr>
    <tr>
      <td>โครงการสร้างการรับรู้และเสริมสร้างการเรียนรู้แก่เกษตรกร เพื่อลดความเสี่ยงจากภัยแล้ง</td> 
      <td width="10"><a a href="/view_form?view=form1" class="btn btn-info btn-xs" role="button"><span class="glyphicon glyphicon-pencil" ></span></a></td>
      <td width="10"><a class="btn btn-success btn-xs" role="button" id="btn-form1" name="btn-form1"><span class="glyphicon glyphicon-file" ></span></a></td>

    </tr>
    <tr>
      <td>โครงการขยายผลการทำนาแบบเปียกสลับแห้งในเขตพื้นที่ชลประทาน</td>  
      <td width="10"><a href="/view_form?view=form2" class="btn btn-info btn-xs" role="button"><span class="glyphicon glyphicon-pencil" ></span></a></td>
      <td width="10"><a class="btn btn-success btn-xs" role="button" id="btn-form2" name="btn-form2"><span class="glyphicon glyphicon-file" ></span></a></td>
    </tr>
    <tr>
      <td>Flowto Report</td>  
      <td width="10"><a href="/projectPage" class="btn btn-info btn-xs" role="button"><span class="glyphicon glyphicon-pencil" ></span></a></td>
      <td width="10"><a href="#" class="btn btn-default btn-xs" role="button"><span class="glyphicon glyphicon-file" ></span></a></td>
    </tr>
 
  </table>
  </div>
</div> <!-- //row fluid -->
</div> <!-- The first class container -->

<!-- Modal Form1-->
  <div class="modal fade" id="modal-form" role="dialog">
    <div class="modal-dialog">  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">เลือกหน่วยงานและโครงการ</h4>
        </div>
        <form method="post" action="/filter_form" id="action-form" name="action-form">  
        <div class="modal-body">  
          <div class="form-group">
            <label for="InputOfficeName">เลือกหน่วยงาน</label> : 
            <select class="selectpicker" id="InputOfficeName" name="InputOfficeName" data-live-search="true">        
              <option value="" selected>--------- เลือกหน่วยงาน ---------</option>
              {% for list in offices%}
              <option value="{{list.id}}">{{list.office_name}}</option>
              {% endfor %}
            </select>
          </div> 
          <div class="form-group">
            <label for="InputAgencyName">เลือกโครงการ</label> : 
            <select class="selectpicker" id="InputAgencyName" name="InputAgencyName" data-live-search="true">        
              <option value="" selected>--------- เลือกโครงการ ---------</option>
              {% for list in agencys%}
              <option value="{{list.id}}">{{list.agency_name}}</option>
              {% endfor %}
            </select>
          </div> 

        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary" value="ส่ง" />
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>  <!-- end form action -->
        </div>
    </div>
  </div> <!-- end modalForm1 -->


<script type="text/javascript">

  $('#btn-form1').click(function() {
    $('#action-form').attr("action", "/filter_form1");
    $('#modal-form').modal('show');

  });

  $('#btn-form2').click(function() {
    $('#action-form').attr("action", "/filter_form2");
    $('#modal-form').modal('show');
  });

</script>

{%endblock%}
